<app-page-header>
  <span *ngIf="detail">{{detail.name}}</span>
  <span *ngIf="!detail">Product Detail</span>
</app-page-header>
<div class="detail-container" style="display: flex" *ngIf="detail">
  <div class="detail-image info-item">
    <img style="max-width: 500px; max-height: 750px" [src]="detail.large_link"/>
  </div>
  <div class="detail-info info-item">
    <h2 style="font-size: 24px">Price: {{detail.price | currency}}</h2>
    <app-cart-item-addition (quantityChanged)="quantity = $event" (addCartButtonClicked)="addCart()">
    </app-cart-item-addition>
    <a style="font-size: 20px" [routerLink]="['/products']">View our product list</a>
  </div>
</div>
