<div class="mat-elevation-z6">
    <nav aria-label="Top Toolbar" class="docs-navbar-header">
        <mat-toolbar color="primary" style="height: 75px">
            <!--      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
            <!--        <mat-icon>menu</mat-icon>-->
            <!--      </button>-->
            <a mat-button routerLink="/" style="font-size: 2rem">New Fashion</a>
            <span class="example-spacer"></span>
            <a mat-icon-button routerLink="/cart" [matBadge]="cartCount$ | async"
               style="margin-left: 10px" [matBadgeHidden]="(cartCount$ | async) === 0"
               matBadgeColor="accent">
                <i class="far fa-shopping-cart fa-2x"></i>
            </a>
            <button mat-icon-button class="example-icon" style="margin-left: 10px"
                    (click)="mainNavComponent.toggleSidebar()" aria-label="User Main Menu">
                <i class="far fa-user-circle fa-2x"></i>
            </button>
<!--            <a mat-icon-button routerLink="/login">-->
<!--                <i class="far fa-sign-in fa-2x"></i>-->
<!--            </a>-->
<!--            <a mat-icon-button routerLink="/login">-->
<!--                <i class="far fa-sign-out fa-2x"></i>-->
<!--            </a>-->
        </mat-toolbar>
    </nav>
</div>
<app-main-nav-component #mainNavComponent>
    <div style="max-width: 1500px; min-width: 800px; min-height: 90vh; background-color: white; padding: 20px">
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        <div style="margin-top: 20px">
            <router-outlet></router-outlet>
        </div>
    </div>
</app-main-nav-component>
