<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <i class="far fa-tshirt fa-2x"></i>
    </div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <div style="text-align: center">
    <i class="far fa-tshirt fa-3x"></i>
  </div>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button>
      <i class="far fa-cart-arrow-down fa-2x"></i>
    </button>
    <button mat-icon-button class="product-item-button">
      <i class="fal fa-heart fa-lg"></i>
    </button>
    <button mat-icon-button class="product-item-button">
      <i class="fal fa-share-square fa-lg"></i>
    </button>
  </mat-card-actions>
</mat-card>
